<%= render 'shared/content_title', title: 'User Profile' %>

<div class='well'>
  <p><strong>Username</strong>: <%= @user.username %></p>
  <p><strong>Password</strong>: [hidden] <%= link_to 'edit', edit_user_path(@user) %></p>
</div>

Recent activities:
  <!-- Tab panes -->
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#posts" data-toggle='tab'>Posts</a>
  </li>
  <li role="presentation"><a href="#comments" data-toggle='tab'>Comments</a>
  </li>
</ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="posts">
      <% @user.posts.each do |post| %>
        <%= render 'posts/post', post: post %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="comments">
      <%= render @user.comments, show_post: true %>
    </div>
  </div>