<%= render 'shared/display_errors', obj: @post %>

<div class='well'>
  <%= form_for @post do |f| %>
    <div class='contol-group'>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div class='contol-group'>
        <%= f.label :url %>
        <%= f.text_field :url %>
    </div>

    <div class='contol-group'>
        <%= f.label :description %>
        <%= f.text_area :description, rows: 8 %>
    </div>

    <!-- option 1: checkboxes helper -->
    <div class='control-group'>
      <%= f.label 'Categories' %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
        <% cb.label(class: 'checkbox-inline') {cb.check_box(class: 'checkbox') + cb.text} %>
      <% end %>
    </div>

    <!-- option 2: HTML select boxes
    <div class='control-group'>
      <select name='post[category_ids][]' multiple='multiple'>
        <% Category.all.each do |category| %>
          <option value= '<% "#{category.id}" %>' > <%= "#{category.name}" %></option>
        <% end %>
      </select>
    </div>
    -->
    <br/>
    <%= f.submit(@post.new_record? ? "Create post!" : "Update post!" , class: 'btn btn-primary')%>
  <% end %>
</div>