

<div class='panel panel-default'>
  <div class='panel-heading'>
    <div class='panel-title'>
      <h3><%= link_to post.title, post_path(post) %>
      <small>[<%= link_to "edit", edit_post_path(post) %>]</small></h3>
    </div>
    <%= render post.categories %>
  </div>
  <div class='panel-body'>
    <p><%= post.description %></p>
    <!--display post related info-->
    <p class='quiet'>Posted by <%= post.creator.username rescue 'anonymous' %> on <%= format_time(post.created_at) %></p>
    <!--edit and display number of comments-->
    <p><%= link_to "#{post.comments.size} " + "#{post.comments.size <= 1 ? 'comment' : 'comments'}", post_path(post)%></p>
  </div>
</div>

